.product-added-modal{
    background-color: rgb(4, 7, 108);
    color: white;
    width: 60%;
    height: 80%;
    left: 20%;
    top: 10%;
    position: absolute;
    z-index: 4;
    position: fixed;
    text-align: center;
    border: solid 4px black;
  }
  
  .blur-screen{
    height: 150%;
    width: 100%;
    margin-top: -25%;
    z-index: 3;
    position: absolute;
    position: fixed;
    background-color: rgb(32, 29, 29);
    opacity: 0.6;
  }