<div class="row">
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Online Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNav"
          aria-controls="collapseNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapseNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="'products'">All Products </a>
            </li>
            <li class="nav-item">
              <a *ngIf="_authService.isUserAuthenticated()" class="nav-link" [routerLink]="'products/cart'">Cart</a>
            </li>
            <li class="nav-item">
              <a style="position: absolute; left: 90%;" class="nav-link" [routerLink]="'auth'">sign-up</a>
            </li>
            <li class="nav-item">
              <a *ngIf="!_authService.isUserAuthenticated()" class="nav-link" [routerLink]="'auth/login'"
              style="position: absolute; left: 95%">login</a>
              <a *ngIf="_authService.isUserAuthenticated()" class="nav-link" (click)="logOut()"
              style="position: absolute; left: 95%; cursor: pointer;">logout</a>
            </li>
          </ul>
        </div>
    
      </div>
    </nav>
  </div>
</div>

<router-outlet></router-outlet>
